#about {
    padding-top: 110px;
}

#header {
    background-color: grey;
}

.fh5co-hero, .fh5co-parallax {
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: scroll;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
}


.painpoint-section .row {
    display: initial;
}

.timeline-section .row {
    flex-wrap: initial;
}
.timeline-section .col-2 {
    flex: initial;
}
